<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="buckaroo_second_chance" frontName="buckaroo_second_chance">
            <module name="Buckaroo_Magento2SecondChance" />
        </route>
    </router>
</config>
